# Core
streamlit==1.36.0
rich>=10.14.0,<14
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn

# NLP & ML
nltk
spacy
xgboost
lightgbm
catboost

# Text processing
regex
beautifulsoup4
markdown-it-py
mdurl
pygments

# Deep learning & Transformers
tensorflow
keras
torch
transformers
jax
jaxlib



# Others
joblib
pickle-mixin
tqdm
plotly
opencv-python-headless
Pillow
