# ==============================
# Core Packages
# ==============================
streamlit==1.36.0
numpy
pandas
scikit-learn
scipy
nltk
joblib

Pillow==10.0.1

# ==============================
# Machine Learning & Deep Learning
# ==============================
xgboost
catboost
lightgbm
torch
transformers

# ==============================
# NLP & Text Processing
# ==============================
regex
markdown-it-py
mdurl
pygments
rich<14
spacy

# ==============================
# Plotting & Visualization
# ==============================
matplotlib
seaborn
plotly
altair

# ==============================
# Utilities
# ==============================
python-dotenv
